.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #2f855a;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* TODO: below probaly only works on chrome */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #2d3748;
}

*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: #2f855a;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2f855a;
}
